
  <title>Signup</title>
  <div class="container">
    <div class="row">
      <h5 class="display-5">Signup</h5>
    </div>

    <div class="row my-5">
      <form method="POST">
        <div class="mb-3">
          <label>Username</label>
          <input type="text">
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input type="text">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
