{% extends "base.html" %}


{% block title %}
<title>Login</title>
  <div class="container">
    <div class="row">
      <h5>Login</h5>
    </div>
  </div>>
{% endblock %}

    {% block content %}
    <div>
      <form method="POST">
        <div>
          <label>Email</label>
          <input type="text">
        </div>
        <div>
          <label>Password</label>
          <input type="password">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
{% endblock %}